@font-face {
  font-family: "yekan";
  src: url(iranyekanweblight\(fanum\).woff);
  font-weight: 300;
}
@font-face {
  font-family: "yekan";
  src: url(iranyekanwebregular\(fanum\).woff);
  font-weight: 500;
}
@font-face {
  font-family: "yekan";
  src: url(iranyekanwebbold\(fanum\).woff);
  font-weight: 700;
}
